<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">MyShop <img src="../../../assets/shoppingIcon.png" alt=""> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="toggleCollapsed()"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="" class="nav-link" >Home</a>
        </li>
      </ul>
      
      <div class="container justify-content-center bar">
       
      <form class="form-inline search-bar">
        <input [(ngModel)]="keyword" name="keyword" class="form-control mr-sm-2" #search type="text" placeholder="Search" aria-label="Search">
        <button [routerLink]="['/Search',keyword]" class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
        <button routerLink="AddProducts" class="btn btn-success my-2 my-sm-0">Add or Update Products</button>
      </div>
    </div>
  </nav>